<!-- Service management panel -->
<div class="title-bar">
	<h4 class="title-bar-headline">{{establishment.name}}</h4>
</div>
<div class="manage-services-panel">
	{{#if establishment.services}}
	<!-- Services table -->
	<table class="mdc-table">
		<thead>
			<th>Serviço</th>
			<th>Descrição</th>
			<th>Preço</th>
			<th>Duração da sessão</th>
			<th>Horário</th>
		</thead>
		<tbody>
			{{#each establishment.services}}
			<tr>
				<td>
					<span class="row-title">{{this.name}}</span>
					<button class="toggle-table-row mdc-icon-button">
						<i class="fas fa-angle-down"></i>
					</button>
				</td>
				<td>{{this.description}}</td>
				<td>R${{this.price}}</td>
				<td>{{this.duration}}min</td>
				<td>{{this.start_time}}hs - {{this.end_time}}hs</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<button class="add-more-service-btn add-service mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">
		<span class="mdc-button__label">Adicionar mais serviços</span>
	</button>
	{{else}}
	<div class="services-not-found">
		<img class="not-found-icon" src="/img/search.svg">
		<p>Nenhum serviço encontrado!</p>
		<button class="add-service-btn add-service mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">
			<span class="mdc-button__label">Adicionar serviços</span>
		</button>
	</div>

	{{/if}}
</div>