<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{establishment.name}}- HelpMyTime</title>
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
	<link rel="stylesheet/less" href="/css/establishment.less">
	<link rel="stylesheet/less" href="/css/login.less">
</head>

<body>
	<div class="establishment-header">
		<div class="header-avatar" style="background-image: url(data:image/png;base64,{{establishment.logo}});"></div>
		<h1 class="header-name">{{establishment.name}}</h1>
		<div class="header-background"
			style="background-image: url(data:image/png;base64,{{establishment.logo}}), linear-gradient(90deg, #00418b 0%, #3a3ab0 62%, #087a9e 100%);">
		</div>
	</div>
	<h3 class="body-name">{{establishment.name}}</h3>
	<div class="establishment-body">
		<div class="body-sidebar">
			<div class="sidebar-item">
				<i class="fas fa-phone"></i>
				<p>{{establishment.phone}}</p>
			</div>
			<div class="sidebar-item">
				<i class="fas fa-map-marker-alt"></i>
				<p>{{establishment.address}}</p>
			</div>
			{{#if establishment.payment_method_credit_card}}
			<div class="sidebar-item">
				<i class="fas fa-credit-card"></i>
				<p>Aceita cartão</p>
			</div>
			{{/if}}
			{{#if establishment.feature_air_conditioner}}
			<div class="sidebar-item">
				<i class="fas fa-snowflake"></i>
				<p>Ambiente climatizado</p>
			</div>
			{{/if}}
			{{#if establishment.feature_wifi}}
			<div class="sidebar-item">
				<i class="fas fa-wifi"></i>
				<p>Wifi disponível</p>
			</div>
			{{/if}}
			{{#if establishment.feature_park}}
			<div class="sidebar-item">
				<i class="fas fa-car"></i>
				<p>Estacionamento</p>
			</div>
			{{/if}}
			{{#if establishment.feature_acessibility}}
			<div class="sidebar-item">
				<i class="fa fa-wheelchair"></i>
				<p>Acessivel para deficientes</p>
			</div>
			{{/if}}

			{{#if establishment.addtional_info}}
			<div class="sidebar-item">
				<i class="fas fa-info-circle"></i>
				<p>{{establishment.addtional_info}}</p>
			</div>
			{{/if}}
		</div>
		<div id="services-tab" class="tab body-content">
			<h4 class="body-headline">Todos os serviços</h4>
			{{#if establishment.services}}

			<div class="card-container">
				{{#each establishment.services}}
				<div data-service-id="{{this.id}}" class="mdc-card">
					<div class="mdc-card__primary-action" data-mdc-auto-init="MDCRipple">
						<div class="card-content">
							<h2 class="mdc-typography--headline6">{{this.name}}</h2>
							<h3 class="mdc-typography--subtitle2">por {{../establishment.name}}</h3>
							<p class="mdc-typography--body2">{{this.description}}</p>
							<div class="mdc-chip" title="Preço do serviço">
								<i class="fas fa-dollar-sign mdc-chip__icon mdc-chip__icon--leading"></i>
								<div class="mdc-chip__text">R${{this.price}}</div>
							</div>
							
						</div>
					</div>
					<div class="mdc-card__actions">
						<div class="mdc-card__action-buttons">
							<button data-tab="schedule"
								class="open-schedule mdc-button mdc-card__action mdc-card__action--button">
								<span class="mdc-button__label">Ver horários</span>
							</button>
						</div>
					</div>
				</div>
				{{/each}}
				{{else}}
				<h4>Não encontramos serviços para esse se estabelecimento.</h4>
				{{/if}}
			</div>
		</div>



		<div id="schedule-tab" class="tab">
			<div class="schedule-header">
				<button data-tab="services" class="mdc-icon-button">
					<i class="fas fa-arrow-left"></i>
				</button>
				<h3 class="schedule-headline">Corte masculino</h3>
			</div>
			<p class="schedule-description">Lorem ipsum dolor sit amet consectetur</p>
			<h3>Horários</h3>
			<div class="schedule-week">
				<div id="monday" class="week-day">
					<div class="day-name">Seg</div>
				</div>
				<div id="tuesday" class="week-day">
					<div class="day-name">Ter</div>

				</div>
				<div id="wednesday" class="week-day">
					<div class="day-name">Qua</div>

				</div>
				<div id="thursday" class="week-day">
					<div class="day-name">Qui</div>

				</div>
				<div id="friday" class="week-day">
					<div class="day-name">Sex</div>

				</div>
			</div>
		</div>
		<div id="about-tab" class="tab">
			<ul class="mdc-list mdc-list--two-line">
				<li class="mdc-list-item" tabindex="0">
					<span class="mdc-list-item__graphic" aria-hidden="true">
						<i class="fas fa-phone"></i>
					</span>
					<span class="mdc-list-item__text">
						<span class="mdc-list-item__primary-text">Telefone</span>
						<span class="mdc-list-item__secondary-text">{{establishment.phone}}</span>
					</span>
				</li>
				<li class="mdc-list-item">
					<span class="mdc-list-item__graphic" aria-hidden="true">
						<i class="fas fa-map-marker-alt"></i>
					</span>
					<span class="mdc-list-item__text">
						<span class="mdc-list-item__primary-text">Endereço</span>
						<span class="mdc-list-item__secondary-text">{{establishment.address}}</span>
					</span>
				</li>
				{{#if establishment.payment_method_credit_card}}
				<li class="mdc-list-item">
					<span class="mdc-list-item__graphic" aria-hidden="true">
						<i class="fas fa-credit-card"></i>
					</span>
					<span class="mdc-list-item__text">
						<span class="mdc-list-item__primary-text">Aceita cartão</span>
						<span class="mdc-list-item__secondary-text">Esse estabelecimento aceita cartão</span>
					</span>
				</li>
				{{/if}}
				{{#if establishment.feature_air_conditioner}}
				<li class="mdc-list-item">
					<span class="mdc-list-item__graphic" aria-hidden="true">
						<i class="fas fa-snowflake"></i>
					</span>
					<span class="mdc-list-item__text">
						<span class="mdc-list-item__primary-text">Ambiente climatizado</span>
						<span class="mdc-list-item__secondary-text">Esse estabelecimento possui um ambiente
							climatizado</span>
					</span>
				</li>
				{{/if}}
				{{#if establishment.feature_wifi}}
				<li class="mdc-list-item">
					<span class="mdc-list-item__graphic" aria-hidden="true">
						<i class="fas fa-wifi"></i>
					</span>
					<span class="mdc-list-item__text">
						<span class="mdc-list-item__primary-text">Wifi disponível</span>
						<span class="mdc-list-item__secondary-text">Esse estabelecimento oferece WIFI LIBERADO.</span>
					</span>
				</li>
				{{/if}}
				{{#if establishment.feature_park}}
				<li class="mdc-list-item">
					<span class="mdc-list-item__graphic" aria-hidden="true">
						<i class="fas fa-car"></i>
					</span>
					<span class="mdc-list-item__text">
						<span class="mdc-list-item__primary-text">Estacionamento</span>
						<span class="mdc-list-item__secondary-text">Você poderá estacionar nesse estabelecimento.</span>
					</span>
				</li>
				{{/if}}
				{{#if establishment.feature_acessibility}}
				<li class="mdc-list-item">
					<span class="mdc-list-item__graphic" aria-hidden="true">
						<i class="fas fa-wheelchair"></i>
					</span>
					<span class="mdc-list-item__text">
						<span class="mdc-list-item__primary-text">Acessível para deficientes</span>
						<span class="mdc-list-item__secondary-text">Você poderá estacionar nesse estabelecimento.</span>
					</span>
				</li>
				{{/if}}

				{{#if establishment.addtional_info}}
				<li class="mdc-list-item">
					<span class="mdc-list-item__graphic" aria-hidden="true">
						<i class="fas fa-info-circle"></i>
					</span>
					<span class="mdc-list-item__text">
						<span class="mdc-list-item__primary-text">{{establishment.addtional_info}}</span>
					</span>
				</li>
				{{/if}}
			</ul>
		</div>

	</div>

	{{> login}}

	

	<div class="mdc-bottom-navigation">
		<nav class="mdc-bottom-navigation__list">
			<span data-tab="services"
				class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary mdc-bottom-navigation__list-item--activated"
				data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
				<i class="fas fa-wrench mdc-bottom-navigation__list-item__icon"></i>
				<span class="mdc-bottom-navigation__list-item__text">Serviços</span>
			</span>
			<span data-tab="about"
				class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary"
				data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
				<i class="fas fa-info-circle mdc-bottom-navigation__list-item__icon"></i>
				<span class="mdc-bottom-navigation__list-item__text">Sobre</span>
			</span>
		</nav>
	</div>

	{{#if user}}
		<script>const logged = true;</script>
	{{else}}
		
		<button class="open-login-panel open-login-panel-fab mdc-fab" aria-label="Entrar/Cadastrar"
			data-mdc-auto-init="MDCRipple">
			<span class="mdc-fab__icon">
				<i class="fas fa-user"></i>
			</span>
		</button>

		<script>const logged = false;</script>
	{{/if}}


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	<script src="/js/login.js"></script>
	<script src="/js/establishment.js"></script>
</body>

</html>